.header-link {
    font-size:1.6rem !important;
    color:#e7eff6!important;
}

.outline{
    color: white !important;
    border: 2px solid white;
    font-size: 18px;
}

.active{
    color:white !important;
    border-bottom:2px solid white !important;
    font-weight: normal !important;
}

.header-item >a:hover{
    color: white !important;
    transition: .3s;
}

.ui.secondary.pointing.menu{
    background-color: #4183c4  !important;
    padding-left: 15%;
    padding-right: 15%;
}